<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="MobileOptimized" content="320"/>
        <title>专题</title>
    </head>

    <body>
        <link href="{BASE_URL}/template/default/css/content_pc.css" rel="stylesheet" type="text/css" />
        <div class="content_box">
            <div class="flash">
                <img class="img-mpreview" src="{BASE_URL}{$special['top_pic']}" onerror="javascript:this.src='{BASE_URL}/images/default.jpg';"/>
                <div class="flash-tit">{$content['title']}</div>
            </div>
            <div class="cont-activity detail" style="height:auto;">
                <ul>
                    <!--{if !empty($options)}-->
                    <!--{loop $options $option}-->
                    <!--{if !empty($option['contList'])}-->
                    <!--{loop $option['contList'] $list}-->
                    <li>
                        <div class="fr" style="height:60px; width:200px;">
                            <div class="list-tit">{$list['title']}</div>
                            <div>这里显示内容简介内容。。。</div>
                        </div>
                        <img class="img-mpreview" style="width:80px;height:60px;" src="{BASE_URL}/images/default.jpg" />
                    </li>
                    <!--{/loop}-->
                    <!--{/if}-->
                    <!--{/loop}-->
                    <!--{/if}-->
                </ul>
            </div>
        </div>
    </body>
</html>
