<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <meta name="MobileOptimized" content="320"/>
        <title>投票</title>
    </head>

    <body>
        <link href="{BASE_URL}/template/default/css/content_pc.css" rel="stylesheet" type="text/css" />
        <div class="content_box">
            <!--<div class="nav-vote">投票</div>-->
            <div class="cont-vote">
                <div class="tit" style="height: auto;text-align: center;margin-left: -10px;">{$content['title']}</div>
                <div class="" style="line-height: 40px;text-align: center;color: #555555;font-size: 11px;">发布时间:<?php echo date("Y-m-d H:i:s", $content['createtime'])?></div>
                <div class="detail tl">
                    <!--{if !empty($voteOption)}-->
                    <!--{loop $voteOption $option}-->
                    <!--{if $vote['is_multiple']==0}-->
                    <div><input type="radio" value="{$option['id']}" /><div style="padding-left: 20px; margin-top: -17px; width: 260px;">{$option['title']}</div></div>
                    <!--{else}-->
                    <div><input type="checkbox" value="{$option['id']}" /><div style="padding-left: 20px; margin-top: -17px; width: 260px;">{$option['title']}</div></div>
                    <!--{/if}-->
                    <!--{/loop}-->
                    <!--{/if}-->
                </div>
                <br />
                <div class="btn-actapply tc">提交</div>
                <div class="tc detail"><a href="#">查看结果</a></div>
            </div>
        </div>
    </body>
</html>
